  <form class="inline" method="get" accept-charset="utf-8">
    <fieldset id="User_Registration" class="tengah" style="width:300px">
      <legend><b>User Registration</b></legend>

      <div class="column span-3">
        <label for="username">Username : </label>
      </div>
      <div class="column span-4 last">
        <input type="text" name="username" value="">
      </div>

      <br>

      <div class="column span-3">
        <label for="perusahaan">Perusahaan : </label>
      </div>
      <div class="column span-4 last">
        <input type="text" name="perusahaan" value="">
      </div>

      <br>


      <div class="column span-3">
        <label for="password">Password : </label>
      </div>
      <div class="column span-4 last">
        <input type="password" name="password" value="">
      </div>

      <br>

      <div class="column span-3">
        <label for="repassword">rePassword : </label>
      </div>
      <div class="column span-4 last">
        <input type="password" name="repassword" value="">
      </div>

      <div class="column span-3">
        <label for="repassword"> </label>
      </div>
      <div class="column span-4 last">
        <button type="submit" class="button positive">
          <img src="/files/library/css/blueprint/plugins/link-icons/icons/im.png" alt=""> Register
        </button>
      </div>


    </fieldset>
  </form>
