@charset "utf-8";


hr {
border: 0;
height: 1px;
background: #333;
background-image: -webkit-linear-gradient(left, #CCC, #333, #CCC);
background-image: -moz-linear-gradient(left, #CCC, #333, #CCC);
background-image: -ms-linear-gradient(left, #CCC, #333, #CCC);
background-image: -o-linear-gradient(left, #CCC, #333, #CCC);
}
