<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <title>UkmApp</title>

  [@||@_@|||4|]
  [@||@_@|||3|]


  <body>
    <div class="container">

      <div id="header" style="height:70px">
        <br>
        <a href="/"><h1 class="alt">UKM app</h1></a>
      </div>
      <div id="menu">
        [@||@_@|||2|]
      </div>
      <div id="content">
        <hr>
        [@||@_@|||1|]
      </div>
      <div class="footer">
        <hr>
        <center><a href="http://yud1z.com">@yud1z</a> development</center>
      </div>

    </div>
    
  </body>
</head>
</html>
