<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <title>UkmApp</title>

  <link 
  rel="stylesheet" 
  href="/files/library/css/style.css" 
  type="text/css" 
  media="screen, projection">

  <!-- Framework CSS -->
  <link 
  rel="stylesheet" 
  href="/files/library/css/blueprint/screen.css" 
  type="text/css" 
  media="screen, projection">

  <link 
  rel="stylesheet" 
  href="/files/library/css/blueprint/print.css" 
  type="text/css" 
  media="print">

  <!-- Import fancy-type plugin for the sample page. -->
  <link 
  rel="stylesheet" 
  href="/files/library/css/blueprint/plugins/fancy-type/screen.css" 
  type="text/css" 
  media="screen, projection">


  <body>
    <div class="container">

      <div id="header">
        <a href="/"><h1>UKM app</h1></a>
      </div>
      <div id="menu">
        [@||@_@|||2|]
      </div>
      <div id="content">
        <hr>
        [@||@_@|||1|]
      </div>
      <div class="footer">
        <hr>
        <center><a href="http://yud1z.com">@yud1z</a> development</center>
      </div>

    </div>
    
  </body>
</head>
</html>
